<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lila Rodrigues Bolos Artísticos</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/css.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Julius+Sans+One|Sacramento" rel="stylesheet">
</head>
<body>
    <section class="sections" id="init1">
	    <a id="loginbutton" class="btn btn-primary" th:href="@{/login}" role="button">Login</a>
	    <a id="logoutbutton" class="btn btn-primary" th:href="@{/login?logout}" role="button" sec:authorize="hasRole('ROLE_USER')">Logout</a>
	    <a id="logoutbutton" class="btn btn-primary" th:href="@{/login?logout}" role="button" sec:authorize="hasRole('ROLE_ADMIN')">Logout</a>
	       <div id="menu">
            <ul>
            <ul>
                <li id="inicio">
                    <a th:href = "@{/inicio}">Início</a>
                </li>
                <li id="sobre">
                    <a th:href = "@{/sobre}" >Sobre</a>
                </li>
                <li id="bolos">
                    <a th:href = "@{/bolos}">Bolos</a>
                </li>
                <li id="contato">
                    <a th:href = "@{/contato}">Contato</a>
                </li>
                <li id="cadastro">
                    <a th:href = "@{/cadastro}">Cadastro</a>
                </li>
            </ul>
            </ul>
        </div>
        <img id="logo" src="img/logopaintnet.png">
        <h1 class="textTop" id="title">Lila Rodrigues</h1>
        <h1 class="textTop" id="subtitle">Bolos Artísticos</h1><br>
        
        <h1  class="textOpenFeed">Cadastro de Bolo</h1>


    </section>

    <section id="formulario">

    
    
    
        <p class="feedText1" id="encomenda">Insira suas informações</p><br><br>
        
    
        
        <form action="/bolos/new" id="selec" method="POST" enctype="multipart/form-data" th:object="${bolo}">
         <input type="hidden" th:field="*{id}"/>	
        <div class="alert alert-success" role="alert"
			th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>
		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"> </span>
			</div>
		</div>
	        <p class="feedText2">Nome: </p>      <input type="text" id="nome" name="nome" size="50px" th:value="*{nome}"><br>
            <br>
            <p class="feedText2">Preço: </p>      <input type="number" id="preco" name="preco" step="0.01" size="50px" th:value="*{preco}"><br>
            <br>
            <p class="feedText2">Imagem: </p>     <input type="file" name="imagem"/> <br> 
            <input style="font-family: 'Julius Sans One', sans-serif" type="submit" value="Cadastrar"/>
        </form>
    </section>

</body>
</html>