<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lila Rodrigues Bolos Artísticos</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/css.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Julius+Sans+One|Sacramento" rel="stylesheet">
</head>
<body>
    <section class="sections" id="init41">
	    <a id="loginbutton" class="btn btn-primary" th:href="@{/login}" role="button">Login</a>
	    <a id="logoutbutton" class="btn btn-primary" th:href="@{/login?logout}" role="button" sec:authorize="hasRole('ROLE_USER')">Logout</a>
	     <a id="logoutbutton" class="btn btn-primary" th:href="@{/login?logout}" role="button" sec:authorize="hasRole('ROLE_ADMIN')">Logout</a>
           <div id="menu">
            <ul>
                <li id="inicio">
                    <a th:href = @{/inicio}>Início</a>
                </li>
                <li id="sobre">
                    <a th:href = "@{/sobre}" >Sobre</a>
                </li>
                <li id="bolos">
                    <a th:href = "@{/bolos}">Bolos</a>
                </li>
                <li id="contato">
                    <a>Contato</a>
                </li>
                <li id="cadastro">
                    <a th:href = "@{/cadastro}">Cadastro</a>
                </li>
            </ul>
        </div>
    </div>
    <img id="logo2" src="img/logopaintnet.png">
    <h1 class="textTop" id="subtitle2">Contato</h1><br>
    <h1  class="textOpenFeed" id="faixaRed">Pagamentos com, no mínimo, 24h de antecedência</h1>
    </section>
    <section id="formulario">
        <p class="feedText1" id="encomenda">Envie-nos uma Mensagem - Faça sua Encomenda</p><br><br>
        <form action="demo_form.asp" id="selec">
            <p class="feedText2" id="nome">Nome: </p>         <input type="text" name="nm" size="50px"><br>
            <p class="feedText2" id="email">E-mail: </p>      <input type="text" name="eml" size="50px"><br>
            <p class="feedText2" id="telefone">Telefone:</p>  <input type="tel" name="tel" size="50px" id="telef"><br>
            <p class="feedText2" id="mensagem">Mensagem: </p> 
            <textarea rows="8" cols="50">
            </textarea>
            <br>
            <button style="font-family: 'Julius Sans One', sans-serif" href="#"> Enviar Mensagem </button>
        </form>
    </section>
    <section class="sections2" id="init10">
            <div id="endFeed">
                    <ul>
                        <li id="column1">
                            <p class="feedText1" id="tc1">Encomendas</p>
                            <p class="feedText2" id="c11">Em horário comercial</p>
                            <p class="feedText2" id="c12">através do Whatsapp:</p>
                            <p class="feedText2" id="c13">(85) 99938 7070</p>

                            <p class="feedText1" id="tc2">Prazo para encomendas</p>
                            <p class="feedText2" id="c14">Até dia 16/04</p>

                            <p class="feedText1" id="tc3">Retirada</p>
                            <p class="feedText2" id="c15">Até dia 20/04</p>
                        </li>

                        <li id="column2">
                            <p class="feedText2" id="c21">Dálila Rodrigues é formada em</p>
                            <p class="feedText2" id="c22">gastronomia pela</p>
                            <p class="feedText2" id="c23">Universidade Federal do Ceará</p>
                        </li>

                        <li id="column3">
                                <p class="feedText1" id="tc31">Atenção</p>
                                <p class="feedText2" id="c31">Não trabalhamos com</p>
                                <p class="feedText2" id="c32">pronta entrega</p>

                                <p class="feedText2" id="c33">Encomendas com no</p>
                                <p class="feedText2" id="c34">minimo 24h de antecedência</p>

                                <p class="feedText2" id="c35">Pagamento somente em</p>
                                <p class="feedText2" id="c36">dinheiro ou por</p>
                                <p class="feedText2" id="c37">trasferência bancária</p>
                        </li>
                    </ul>
                </div>
    </section>

    <script src="jquery/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <script>
        $(document).ready(function(){    
            $("#subtitle2").hide();
            $("#subtitle2").fadeIn(2000);
            $("#menu").hide();
            $("#menu").fadeIn(2500);
            $("#logo2").hide();
            $("#logo2").fadeIn(2000);
            $("#faixaRed").hide();
            $("#faixaRed").fadeIn(2000);
            var $campoTel = $("#telef");
            $campoTel.mask('(00) 0000-0000', {reverse: true}); 
        });
    
    </script>
    
</body>
</html>