<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lila Rodrigues Bolos Artísticos</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/css.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Julius+Sans+One|Sacramento" rel="stylesheet">
</head>
<body>.

    <section class="sections" id="init1">
    <a id="loginbutton" class="btn btn-primary" th:href="@{/login}" role="button">Login</a>
    <a id="logoutbutton" class="btn btn-primary" th:href="@{/login?logout}" role="button" sec:authorize="hasRole('ROLE_USER')">Logout</a>
     <a id="logoutbutton" class="btn btn-primary" th:href="@{/login?logout}" role="button" sec:authorize="hasRole('ROLE_ADMIN')">Logout</a>
   
        <div id="menu">
            <ul>
                <li id="inicio">
                    <a>Início</a>
                </li>
                <li id="sobre">
                    <a th:href = "@{/sobre}" >Sobre</a>
                </li>
                <li id="bolos">
                    <a th:href = "@{/bolos}">Bolos</a>
                </li>
                <li id="contato">
                    <a th:href = "@{/contato}">Contato</a>
                </li>
                <li id="cadastro">
                    <a th:href = "@{/cadastro}">Cadastro</a>
                </li>
            </ul>
        </div>
        
        <img id="logo" src="img/logopaintnet.png">
        <h1 class="textTop" id="title">Lila Rodrigues</h1>
        <h1 class="textTop" id="subtitle">Bolos Artísticos</h1><br>
        
        <h1  class="textOpenFeed">Confira Abaixo Nossa Promoção de Páscoa</h1>
    </section>

    <div class="allFeed">
  
        <section class="feed" id="init2">
        <div id="sec2">
            <p class="feedText1" id="ft11">Ovos Trufados</p><br><br>
            <p class="feedText2" id="ft12">Tradicional Ovo de Páscoa decorado, de casca trufada com brigadeiros especiais em quatro diferentes versões</p>
        </div>
        </section>

        <section class="feed" id="init3">
        <div id="sec3">
            <p class="feedText1" id="ft21">Ovo César</p>
            <p class="feedText2" id="ft22">Casca de chocolate</p>
            <p class="feedText2" id="ft23">meio amargo,</p> 
            <p class="feedText2" id="ft24">decorada com</p>
            <p class="feedText2" id="ft25">chocolate branco</p>
            <p class="feedText1" id="ft26">R$ 20,00</p><br><br>
        </div>
        </section>

        <section class="feed" id="init4">
        <div id="sec4">  
            <p class="feedText1" id="ft31">Ovo Ivan</p>
            <p class="feedText2" id="ft32">Casca Toca de Coelho</p>
            <p class="feedText2" id="ft33">de chocolate ao</p> 
            <p class="feedText2" id="ft34">leite, decorada</p>
            <p class="feedText2" id="ft35">com coelho de açucar</p>
            <p class="feedText2" id="ft36">e miçangas coloridas,</p>
            <p class="feedText2" id="ft37">trufada com brigadeiro</p>
            <p class="feedText2" id="ft38">tradicional</p>
            <p class="feedText1" id="ft39">R$ 20,00</p>
            <br><br>
        </div>
        </section> 

        <section class="feed"  id="init5">
        <div id="sec5"> 
            <p class="feedText1" id="ft41">Ovo Antônia</p>
            <p class="feedText2" id="ft42">Casca de Chocolate</p>
            <p class="feedText2" id="ft43">meio amargo,</p> 
            <p class="feedText2" id="ft44">decorada com rosas</p>
            <p class="feedText2" id="ft45">moldadas em chocolate,</p>
            <p class="feedText2" id="ft46">trufada com brigadeiro,</p>
            <p class="feedText2" id="ft47">de doce de leite</p>
            <p class="feedText1" id="ft48">R$ 20,00</p>
        </div> 
        </section>

        <section class="feed"  id="init6">
        <div id="sec6"> 
                <p class="feedText1" id="ft51">Ovo Sofia</p>
                <p class="feedText2" id="ft52">Casca de Chocolate</p>
                <p class="feedText2" id="ft53">branco, decorada</p> 
                <p class="feedText2" id="ft54">com animal print de</p>
                <p class="feedText2" id="ft55">oncinha em chocolates</p>
                <p class="feedText2" id="ft56">meio amargo e ao leite,</p>
                <p class="feedText2" id="ft57">trufada com brigadeiro</p>
                <p class="feedText2" id="ft58">de leite em pó</p>
                <p class="feedText1" id="ft59">R$ 20,00</p>
        </div>
        </section>
            
        <section class="feed"  id="init7">
        <div id="sec7">
            <p class="feedText1" id="ft61">Easter Cake</p>
            <p class="feedText2" id="ft62">Bolo em formato de Ovo de Páscoa, com uma</p>
            <p class="feedText2" id="ft63">camada de ganache e cobertura</p>
            <p class="feedText2" id="ft64">de brigadeiro</p> 
        </div>
        </section>

        <section class="feed"  id="init8">
        <div id="sec8">
                <p class="feedText1" id="ft71">Sabores Easter Cake</p>
                <p class="feedText2" id="ft72">Massa: branca,</p>
                <p class="feedText2" id="ft73">chocolate ou mesclada</p><br><br>

                <p class="feedText2" id="ft74">Cobertura: Brigadeiro</p>
                <p class="feedText2" id="ft75">tradicional, brigadeiro</p>
                <p class="feedText2" id="ft76">branco, leite em pó</p>
                <p class="feedText2" id="ft77">ou coco</p>
                <p class="feedText1" id="ft78">R$ 30,00</p>
            </div>
         </section>

        <section class="feed"  id="init9">
        <div id="sec9">
                <p class="feedText1" id="ft81">Ovo de Colher</p>
                <p class="feedText2" id="ft82">Classico Ovo de Páscoa aberto, com casquinha</p>
                <p class="feedText2" id="ft83">de chocolate e generoso recheio de brigadeiro</p>
 
                <p class="feedText1" id="ft84">Sabores</p>
                <p class="feedText2" id="ft85">Casca: branca, meio amarga ou ao leite</p>
                <p class="feedText2" id="ft86">Recheio: Brigadeiro tradicional, brigadeiro</p>
                <p class="feedText2" id="ft87">branco, leite em pó ou coco</p>
                <p class="feedText1" id="ft88">150g: R$ 20,00 </p>
                <p class="feedText1" id="ft89">250g: R$ 26,00</p>
        </div>
        </section>
        <section class="sections2" id="init10">
                <div id="endFeed">
                        <ul>
                            <li id="column1">
                                <p class="feedText1" id="tc1">Encomendas</p>
                                <p class="feedText2" id="c11">Em horário comercial</p>
                                <p class="feedText2" id="c12">através do Whatsapp:</p>
                                <p class="feedText2" id="c13">(85) 99938 7070</p>

                                <p class="feedText1" id="tc2">Prazo para encomendas</p>
                                <p class="feedText2" id="c14">Até dia 16/04</p>

                                <p class="feedText1" id="tc3">Retirada</p>
                                <p class="feedText2" id="c15">Até dia 20/04</p>
                            </li>

                            <li id="column2">
                                <p class="feedText2" id="c21">Dálila Rodrigues é formada em</p>
                                <p class="feedText2" id="c22">gastronomia pela</p>
                                <p class="feedText2" id="c23">Universidade Federal do Ceará</p>
                            </li>

                            <li id="column3">
                                    <p class="feedText1" id="tc31">Atenção</p>
                                    <p class="feedText2" id="c31">Não trabalhamos com</p>
                                    <p class="feedText2" id="c32">pronta entrega</p>
    
                                    <p class="feedText2" id="c33">Encomendas com no</p>
                                    <p class="feedText2" id="c34">minimo 24h de antecedência</p>
    
                                    <p class="feedText2" id="c35">Pagamento somente em</p>
                                    <p class="feedText2" id="c36">dinheiro ou por</p>
                                    <p class="feedText2" id="c37">trasferência bancária</p>
                            </li>
                        </ul>
                    </div>
        </section>
    </div>

   


</body>
</html>